<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.52.131/db_examsystem</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345</property>

        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="characterEncoding">utf-8</property>
        <property name="useUnicode">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- 注册我们的实体映射类 -->
        <mapping resource="com.miao.po/student.hbm.xml" />
        <mapping resource="com.miao.po/subject.hbm.xml" />
        <mapping resource="com.miao.po/teacher.hbm.xml" />
    </session-factory>
</hibernate-configuration>